* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-width: 100vh;
    background-color: black;
    color: wheat;
    font-family: 'Orbitron', sans-serif;
}
button {
    border-radius: 10px;
    border: none;
}
button:active{
    transform: scale(1.05);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    max-width: 100px;
}
nav ul li {
    list-style: none;
    gap: 15px;
    padding: 15px;
}
nav ul li button {
    color: wheat;
    padding: 15px;
    border-radius: 20px;
    background-color: rgb(69, 67, 67);
}

.paginainicial {

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.tudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.butaomacaco {
    border: none;
    background: none;
}

#macaco {
    max-width: 150px;

    

}

.botoes_interacao {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 15px;
    
    
}
.botoes_interacao button {
    padding: 15px;

}
.autoclick{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;

}
.autoclick button {
    
    padding: 15px;
}

#tela {
    display: none;
    background-color: rgba(21, 21, 21, 0.99);
    position: fixed;
    top: 0;
    justify-content: center;
    top: 50%;
    left: 50%;
    padding: 30;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
}

#fechar{
    display: flex;
    justify-content: end;
    padding: 15px;
    margin: 15px;

}
.telas_status {
    display: grid;
    gap: 55px;
    padding: 10px;

}

.rank {

    display: flex;
    flex-direction: column;
    width: fit-content;
    
}
.rank img {
    min-width: 300;
    max-width: 400px;
    border-radius: 15px;
    padding: 15px;
}
